@import "tailwindcss";

@theme {
  --color-brand-purple-500: #5939E0; /* Your exact color */
  --color-brand-purple-600: #4A2FC0; /* Darker for hovers/accents */
  --color-brand-purple-800: #2A1A80; /* Deeper shade */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white transition-colors duration-300;
}